<header>
  <div class="wrapper">
    <h1 class="logo">
        <a href="#FIXME" class="logo-link" title="Contentful">ContentFul</a>
    </h1>
 <nav class="navbar">
  <ul class="nav-list">
    <li class="list-item">
         <a href="#Conten" class="nav-link active" title="Home">Content</a>
    </li>
    <li class="list-item">
          <a href="#left-feature" class="nav-link" title="Left-Feature">Left-Feature</a>
    </li>
    <li class="list-item">
          <a href="#right-feature" class="nav-link" title="Right-Feature">Right-Feature</a>
    </li>
    <li class="list-item">
          <a href="#card" class="nav-link" title="Card">Card</a>
    </li>
  </ul>
 </nav>
 </div>
 </header>